[submodule "elisp/magit"]
	path = elisp/magit
	url = git://github.com/magit/magit.git
[submodule "elisp/less"]
	path = elisp/less
	url = git://github.com/purcell/less-css-mode.git
[submodule "elisp/yaml-mode"]
	path = elisp/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "elisp/python-django"]
	path = elisp/python-django
	url = git://github.com/fgallina/python-django.el.git
[submodule "elisp/python"]
	path = elisp/python
	url = https://github.com/leoliu/python-el.git
[submodule "elisp/yasnippet"]
	path = elisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "dirtree"]
	path = dirtree
	url = https://github.com/zk/emacs-dirtree.git
[submodule "elisp/dirtree"]
	path = elisp/dirtree
	url = https://github.com/zk/emacs-dirtree.git
[submodule "elisp/nagios-mode"]
	path = elisp/nagios-mode
	url = http://michael.orlitzky.com/git/nagios-mode.git
[submodule "elisp/ios-config-mode"]
	path = elisp/ios-config-mode
	url = https://github.com/nibrahim/IOS-config-mode
[submodule "elisp/nxhtml"]
	path = elisp/nxhtml
	url = git://github.com/emacsmirror/nxhtml.git
[submodule "elisp/editorconfig"]
	path = elisp/editorconfig
	url = https://github.com/editorconfig/editorconfig-emacs.git
