[submodule "elisp/magit"]
	path = elisp/magit
	url = git://github.com/magit/magit.git
[submodule "elisp/less"]
	path = elisp/less
	url = git://github.com/purcell/less-css-mode.git
[submodule "elisp/yaml-mode"]
	path = elisp/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "elisp/python-django"]
	path = elisp/python-django
	url = git://github.com/fgallina/python-django.el.git
[submodule "elisp/python"]
	path = elisp/python
	url = https://github.com/leoliu/python-el.git
[submodule "elisp/yasnippet"]
	path = elisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "dirtree"]
	path = dirtree
	url = https://github.com/zk/emacs-dirtree.git
[submodule "elisp/dirtree"]
	path = elisp/dirtree
	url = https://github.com/zk/emacs-dirtree.git
[submodule "elisp/nagios-mode"]
	path = elisp/nagios-mode
	url = http://michael.orlitzky.com/git/nagios-mode.git
[submodule "elisp/ios-config-mode"]
	path = elisp/ios-config-mode
	url = https://github.com/nibrahim/IOS-config-mode
[submodule "elisp/editorconfig"]
	path = elisp/editorconfig
	url = https://github.com/editorconfig/editorconfig-emacs.git
[submodule "elisp/mongo-el"]
	path = elisp/mongo-el
	url = https://github.com/m2ym/mongo-el.git
[submodule "elisp/json-mode"]
	path = elisp/json-mode
	url = git@github.com:joshwnj/json-mode.git
[submodule "elisp/json-snatcher"]
	path = elisp/json-snatcher
	url = git@github.com:Sterlingg/json-snatcher.git
[submodule "elisp/json-reformat"]
	path = elisp/json-reformat
	url = git@github.com:gongo/json-reformat.git
[submodule "elisp/js2-mode"]
	path = elisp/js2-mode
	url = git@github.com:mooz/js2-mode.git
[submodule "elisp/slime"]
	path = elisp/slime
	url = git@github.com:slime/slime.git
[submodule "elisp/swank-js"]
	path = elisp/swank-js
	url = git@github.com:swank-js/swank-js.git
[submodule "elisp/web-mode"]
	path = elisp/web-mode
	url = git@github.com:fxbois/web-mode.git
[submodule "elisp/mustache"]
	path = elisp/mustache
	url = git@github.com:mustache/emacs.git
[submodule "elisp/jdee"]
	path = elisp/jdee
	url = git@github.com:emacsmirror/jdee.git
[submodule "elisp/git-modes"]
	path = elisp/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "elisp/coffee-mode"]
	path = elisp/coffee-mode
	url = git@github.com:defunkt/coffee-mode.git
[submodule "elisp/eclim"]
	path = elisp/eclim
	url = git@github.com:senny/emacs-eclim.git
[submodule "elisp/s"]
	path = elisp/s
	url = git@github.com:magnars/s.el.git
[submodule "elisp/ack"]
	path = elisp/ack
	url = git@github.com:leoliu/ack-el.git
[submodule "elisp/gradle-mode"]
	path = elisp/gradle-mode
	url = git@github.com:jacobono/emacs-gradle-mode.git
[submodule "elisp/groovy-mode"]
	path = elisp/groovy-mode
	url = git@github.com:russel/groovy-emacs-modes.git
[submodule "elisp/jsx-mode"]
	path = elisp/jsx-mode
	url = git@github.com:jsx/jsx-mode.el.git
[submodule "elisp/malabar-mode"]
	path = elisp/malabar-mode
	url = git://github.com/espenhw/malabar-mode.git
[submodule "elisp/dash"]
	path = elisp/dash
	url = git@github.com:magnars/dash.el.git
[submodule "elisp/logcat-mode"]
	path = elisp/logcat-mode
	url = git@github.com:dcolascione/logcat-mode.git
[submodule "elisp/with-editor"]
	path = elisp/with-editor
	url = https://github.com/magit/with-editor
	branch = master
[submodule "elisp/glsl-mode"]
	path = elisp/glsl-mode
	url = git@github.com:jimhourihan/glsl-mode.git
[submodule "elisp/proguard-mode"]
	path = elisp/proguard-mode
	url = https://github.com/CarloRodriguez/proguard-mode.git
[submodule "elisp/neotree"]
	path = elisp/neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "elisp/ipcalc"]
	path = elisp/ipcalc
	url = https://github.com/dotemacs/ipcalc.el.git
[submodule "elisp/projectile"]
	path = elisp/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "elisp/org-mode"]
	path = elisp/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "elisp/javadoc-lookup"]
	path = elisp/javadoc-lookup
	url = https://github.com/skeeto/javadoc-lookup.git
[submodule "elisp/company-mode"]
	path = elisp/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "elisp/flycheck"]
	path = elisp/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "elisp/pkg-info"]
	path = elisp/pkg-info
	url = https://github.com/lunaryorn/pkg-info.el.git
[submodule "elisp/epl"]
	path = elisp/epl
	url = https://github.com/cask/epl.git
[submodule "elisp/dockerfile-mode"]
	path = elisp/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode.git
[submodule "elisp/indium"]
	path = elisp/indium
	url = https://github.com/NicolasPetton/Indium.git
[submodule "elisp/websocket"]
	path = elisp/websocket
	url = https://github.com/ahyatt/emacs-websocket.git
